@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@400;500;700&family=Roboto:wght@300&display=swap');

:root{
    --font_Quicksand: 'Quicksand', sans-serif;
    --font_Bebas_Neue: 'Bebas Neue', cursive;
    --font_Roboto: 'Roboto', sans-serif;
    --color_Blue:#3EDBF0;
    --color_Yellow: #FFF500;
    --color_Gradient: linear-gradient(to top, #c1cefb, #c1cefb, #c1cefb, #c1cefb, #c1cefb, #c1d1fc, #c2d4fc, #c3d7fd, #c6ddfe, #cbe3fe, #d1e9ff, #d8eeff);
    --color_Gradient_header: linear-gradient(to top, #ffffff, #f6f5fe, #ecebfd, #e0e2fc, #d4d9fc, #ced5fc, #c8d2fb, #c1cefb, #c1cefb, #c1cefb, #c1cefb, #c1cefb);

}
*{
    margin: 0;
    padding: 0;
}
.section--container__logo{
    background-image: var(--color_Gradient_header); 
    display: flex;
    align-items: center;
    justify-content: space-between
}
.section--img__logo{
    margin: 10px 0 5px 50px;
}
.section--container__input{
    border-radius: 10px;
    display: flex;
    border: none;
    background-color: white;
    width: 300px;
    height: 10px;
    padding: 10px;
    align-items: center;
    margin-right: 50px;
}
input{
    width: 95%;
    height: 90%;
    border: none;
    outline: none;
    color: #d4d9fc;
    font-family: var(--font_Roboto);
    padding: 3px 10px;
}
.section--input__button{
    outline: none;
    border: none;
    background-color: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 5px;
}
.section--container__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.section--container__menu li{
    display:inline;
    font-family: var(--font_Quicksand);
    font-weight: 700;
    text-align: center;
    width: 100%;
    box-sizing: content-box;
}
.section--container__menu li a{
    text-decoration: none;
    color: black;
}
.section--container__menu li a:hover{
    text-decoration: underline;
}
.item1{
    border-top: var(--color_Yellow) solid 3px;
}
.item2{
    border-top: #3EDBF0 solid 3px;
}
.item3{
    border-top: #F158FE solid 3px;
}
.item4{
    border-top: #C490E4 solid 3px;
}
.item5{
    border-top: #FFD8CC solid 3px;
}

.footer {
    width: 100%;
    height: auto;
    padding: 20px 80px;
    box-sizing: border-box;
    background-image: var(--color_Gradient);
    font-family: var(--font_Quicksand);
}
.footer__info, .footer__contact, .footer__attention, .footer__logo {
    display: flex;
}
.footer__info, .footer__contact, .footer__attention {
    justify-content: space-between;
    align-items: center;
}
.footer__contact--title{
    font-weight: 700;
    margin-right: 50px;
}
.footer__dates div {
    display: flex;
    padding: 10px 0;
    box-sizing: border-box;
}
.footer__dates div svg {
    margin: 0 30px;
}
.footer__logo {
    justify-content: center;
}
.main__carousel {
    width: 100%;
    position: relative;
}
.glider div{
    width: 100%;
    height: 300px;
}
.glider div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glider-l, .glider-r {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 50%;
    border: none;
    top: 135px;
    z-index: 4;
}
.glider-l {
    left: 20px;
}
.glider-r {
    right: 20px;
}
.carousel__indicadores {
    position: absolute;
    bottom: 10px;
    left: 45%;
}
.main__productos{
    padding: 40px 60px;
}    
.main__title1{
    text-align: center;
    padding-bottom: 20px;
    font-family: var(--font_Bebas_Neue);
    letter-spacing: 0.5px;
    border-bottom: #3EDBF0 solid 0.5px;
}
.main__productos--container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top:30px;
}
.productos__container--img{
   display: flex;
   flex-direction: column;
   width: 400px;
   height: 400px;
   margin-left: 20px;
   margin-right: 20px;

}
.product{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.img--description{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font_Roboto);
}
.img--description p{
    font-weight: 700;
}
.img--description a{
    text-decoration: none;
    color: black;
}
.img--description a:hover{
    text-decoration: underline;
}
/*frame de productos*/
.main__products{
    width: 100%;
    box-sizing: border-box;
}
.main__products .title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid #3EDBF0;  
    margin: 20px 30px;
}
.main__products .title h3{
    font-family: var(--font_Quicksand);
    font-weight: 500;
    text-align: center;
    padding: 10px 20px; 
}
.catalog{
    display: flex;
    flex-wrap:wrap ;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 30px;
}
.catalog__products{
    position: relative;
    height: 230px;
    width: fit-content;
    margin: 10px 5px;
}
.catalog__products img{
    height: 100%;
    border-radius: 10px;
}
.catalog__products div{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #c1cefb86;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: var(--font_Quicksand);
    text-align: center;
    padding: 8px 0;
}
.padding{
    padding: 0px 20px ;
}
/******************Styles marcas*************/
.contents__brands {
    background-image: var(--color_Gradient);
    width: 100%;
    height: 400px;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contents__brands h2 {
    font-family: var(--font_Bebas_Neue);
    color: #003E7E;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #576860;
}
.brands__img-cont {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 80px;
}
.brands__img-cont img {
    width: 100%;
}
.brands__img-cont div {
    justify-self: center;
    align-self: center;
}
.location {
    padding: 40px 0px;
}
.location__content{
    margin: 0px 30px 0px 30px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr ;
    grid-gap: 5px;
}
.location__content--one{
    display: flex;
    justify-content: center;   
}
iframe{
    left: 40px;
}
.location__content--two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font_Quicksand);
}
.location__content--two h3{
    padding: 10px 80px;
    border-bottom: 1px solid black ;
}
.location__content--two p{
    padding-bottom: 6px;
}
.location__content--two .p--one{
    padding-top: 20px;
}
.redirecciones{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 11px 20px 20px 20px;
}
.redirecciones a{
    text-decoration: underline;
    color: black;
    font-family: var(--font_Roboto);
    font-size:14px;
}
.separator{
    margin: 0;
    width: 100%;
    height: 25px;
    background-image: var(--color_Gradient);
}
